body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    padding: 30px;
}

h1 {
  display: block;
  margin: 10px auto;
  font-size: 2em;
  text-align: center;
}


body {
    max-width: 600px;
    margin: auto;
}


label {
    display: inline-block;
    width: 150px;
    margin-top: 10px;
    font-weight: bold;
}

input {
    width: 250px;
    padding: 8px;
    margin-top: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}


button {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    background-color: #0078d7;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #005fa3;
}


#areaTexto {
    margin-top: 20px;
    padding: 15px;
    background-color: white;
    border-radius: 5px;
    border: 1px solid #ddd;
}

.container {
    background-color: white;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}